<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me"style= color:#2495C4><strong>A Well Charted Path</strong></span></h1>
            <p>We are two people traveling a well charted path. </p>
            <p>We are traveling to 34 countries across 6 continents over 11 months. </p>
            <p>After a couple of fits and starts we've ended up planning this trip for about 5 years and we have a Google Sheets database full of content developed over those years. 
            We have detailed budgets, itineraries, and lots of lessons learned that we'll share here; as well as updates about our progress along the way.  </p>
            
            <p>Do you live in one of the countries we're visiting? Or have you visited somewhere we're headed?</p>
            <p> Give us <a href="/suggestions">suggestions</a>.</p>
            <div style="position: relative; min-height: 15px"></div>
           
           
            {% include social-media-icons.html %}  
        
        <div class="col-xs-4">
            <div class="team-member wow zoomIn" >
    	
            </div>
            
        </div>
        
        </div>
 
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
        {% for image in site.static_files reversed %}
   			{% if image.path contains 'img/windows' %}
        		<img src="{{ site.baseurl }}{{ image.path }}" alt="image" style="height: 400px; margin-top: 25px; padding-top: 25px; padding-right: 25px; padding-left: 25px; padding-botton: 5px"/>
    			{% break %}
    		{% endif %}
		{% endfor %}
			  <h2 class="text-center"><span data-i18n="about_me.about_me"> Today's View </span></h2>
        </div>
    </div>
 </div>
 
