<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.desc %}
    <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <title>
    {% if page.title != "index" %}
        {{ site.title }} | {{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  
  <!-- Open Graph data -->
{% if page.title != "index" %}
        <meta property="og:title" content="{{ site.title }} | {{ page.title }}" />
    {% else %}
        <meta property="og:title" content="{{ site.title }}" />
{% endif %}
	<meta property="og:type" content="blog" />
	<meta property="og:url" content="{{page.url | prepend: site.baseurl}}" />
{% if page.image %}
    <meta property="og:image" content="{{ site.baseurl }}/static/assets/img/{{page.image}}" />
    {% else %}
	<meta property="og:image" content="{{ "/static/assets/img/map-icon.png" | prepend: site.baseurl }}"/>
{% endif %}
{% if page.desc %}
	<meta property="og:description" content="{{page.desc}}" />
{% endif %}

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/static/assets/img/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/static/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/static/assets/img/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/static/assets/img/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <!-- Main CSS -->
  <link href="{{ "/static/assets/app-20170606.min.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Main Scripts -->
  <script src="{{"/static/assets/app-20170606.min.js"| prepend: site.baseurl }}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var initial = 0;
      var show = true;

      var toggleSearch = function (visible) {
        initial = 0;
        show = !visible;
        var visibility = visible ? 'block' : 'none';

        $("#search-content").val("");
        $(".search-tool").css("display", visibility);
      };

      var shouldToggle = function (time) {
        var gap = time - initial;
        initial = time;
        return gap < 500;
      };

      $(document).keyup(function (e) {
        var now = new Date().getTime();
        if (e.keyCode == 17 && shouldToggle(now)) {
          toggleSearch(show);
        } else if (e.keyCode == 27) {
          toggleSearch(false);
        }
      });

      $("#search-content").keyup(function (e) {
        var now = new Date().getTime();
        if (e.keyCode == 17 && shouldToggle(now)) {
          toggleSearch(show);
        }
      });

      $("#close-btn").click(function () {
        toggleSearch(false);
      });

      $("#search-btn").click(function() {
        toggleSearch(true);
      });

      $.getJSON("{{ "/search/cb-search.json" | prepend: site.baseurl }}")
        .done(function (data) {
          if (data.code == 0) {
            $("#search-content").typeahead({
              source: data.data,
              displayText: function (item) {
                return item.title;
              },
              afterSelect: function (item) {
                window.location.href = item.url;
              }
            });
          }
        });
    });
    $(function(){
        $("pre").css('display','block');
    });
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- google ad -->
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6196184668650108",
      enable_page_level_ads: true
    });
  </script>
</head>
